fastapi
uvicorn
langchain
langchain-community
chromadb
sentence-transformers
pydantic
python-multipart
requests
numpy
langdetect
tavily-python
beautifulsoup4
python-dotenv
faiss
dspy
datasets
pandas
scikit-learn
